.feynman__title{    
    
    width: 775px;
    justify-content: center;
    margin: 100px auto 0;
     
    font-size: 120px;
    line-height: 1.15; 
    font-weight: bold;
    text-align: center;
    
    z-index: 1;
}