.section-title_theme_dark{
    color: white; 
    font-size: 60px;
    margin-top:90px; 
    line-height: 69px; 
    font-weight: bold;
    text-align: center;
    z-index: 1;
    text-decoration: none;
}